/* css styles */

.navbar {
  background-image: url("unsortedImages/websiteHeader.png") !important;
  background-color: transparent !important;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}